article p{
	line-height:1.5em;
    padding-bottom:1em;
	text-align: justify;
}

.go_up {
	float: right; 
	padding-right: 15px;  
}

article{
    background-image: -moz-linear-gradient(top, rgb(83, 14, 14) 0%, #AA2020 100%);
    background-image: -webkit-linear-gradient(top, rgb(83, 14, 14) 0%, #AA2020 100%);
    background-image: -o-linear-gradient(top, rgb(83, 14, 14) 0%, #AA2020 100%);
    background-image: linear-gradient(top, rgb(83, 14, 14) 0%, #AA2020 100%);
	margin:3em 0;
	padding:20px;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
}

article figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
    width:500px;
    background-color: white;
}

article figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#e4e4e4;
	border-bottom-color:#ffffff;
	margin:1.3em 0;
}


article table td {
	color: black;
}

article table th {
	color: white;
}