header {
	text-align: left;
	vertical-align: center;
    background: #AA2020;
    margin: 0px;
    height: 50px;
    color: white;
}

.logo {
    float:left;
    margin-left: 60px;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 180px;
    background-color: white;
    border: 5px double white;
    border-radius: 50px 50px 0px 50px;
    box-shadow: 1px 1px 2px 2px black;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

.logo a {
    color: darkred
}

.login {
    float: right;
    vertical-align: center;
    margin-top: 12px;
    margin-right: 10px;
    text-align:right;
}

header a{
    color: white;
    font-style: normal;
    text-decoration: none;
}

#login {
    clear: both;
    width: 300px;
    height: 300px;
    position: absolute;
}

