* {
    margin: 0;
    padding: 0
}

/* Body */

body{
    background-color: #EDE3E3;
    font-family: 'Verdana';
    margin: 0;
}

header,footer,
main article {
	display:block; /* Giving a display value to the HTML5 rendered elements: */
}

.clear:after{ /* The clearfix hack to clear the floats: */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* main */
main{
    width: 90%;
    margin: 10px auto;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}


label{
    width: 170px;
    display: inline-block;
    font-size: 16px;
    color: white;
}
 
input {
    font-size: 16px;
    padding: 5px 10px;
    width: 50%;
    height: 30px;
	margin-bottom: 10px;
	color: black;
	background-color: white;
	border: 1px solid black;
}
select{
    font-size: 16px;
    padding: 5px 10px;
    width: 50%;
    margin-bottom: 10px;
}

input[type="submit"], button{
    width: 40%;
	font-size: 22px;
	background-color: green;
    color: white;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 2px 2px 0px #A93F55;
    border-radius: 8px;
	align-content: center;
}

.cancel {
	background-color: red;
}
.center {
	text-align: center;
}
/* .formData input[type="text"], .formData select {
	width: 40%;
} */

.form-field {
	margin: 10px;
}

.ck-editor {
	width: 80%;
}
.ck-content {
	color: black;
}
.error{
	background-color: white;
	color: red;
	width: 30%;
}

#newArticle {
	text-align: center;
}

#newArticle a, #articlesTable_info {
	color: white;
	text-decoration: none;
}

.right {
	color: black;
	border: 1px solid black;
	background-color: white;
	float: right; 
	padding-right: 15px;  
}

.imgCell {
	width: 300px;
	height: 200px;
	border: 0;
}
.noBorder {
	border: 0;
}
.titleCell{
	text-align: left; 
	border: 0; 
	padding-left: 10px
}

.imgIndex {
	background-color: white; 
	border: 2px solid black
}

.hrefIndex {
	color: white; 
	text-decoration: none;
}
.sectionIndex {
	color: silver
}