<%
    var name = '';
    var systemName = '';
    if (typeof UserName !== 'undefined')
        name = Name;
    
    if (typeof SystemName !== 'undefined')
        systemName = SystemName;
    else
        systemName = 'dadasda'
    
   
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/article.css">
    <link rel="stylesheet" type="text/css" href="/css/tables.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/ckeditor.js"></script>
    <script src="/js/scripts.js"></script>
    <title><%=systemName%></title>
</head>
<body>
    <header>
        <div onclick="openNav()"" id="menuButton">
            <div class="menubar1"></div>
            <div class="menubar2"></div>
            <div class="menubar3"></div>
        </div>
       
        <div class="logo"><a href="/"><%=systemName%></div>
        <% if(!name) { %>
            <div class="login"><a href="/Login">Login</a></div>
        <% } else { %>
            <div class="login">Hello <%=name%>, <a href="/Admin">Manage</a> | <a href="/logout">Logout?</a></div>
        <% } %>
    </header>

    <div id="sideMenu" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <% sections.forEach(function (section) { %>
            <a href="/<%=section._id%>"><%=section.Section%></a>
        <% }); %>
    </div>
    <main>