<%-include('_layouts/header.ejs')%>
<%
    var displaySection = '';
    if (typeof result === 'undefined'){
        result = '';
    }
%>
<article>
    <table id="articlesTable" style="border: 1px solid bla;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Section</th>
                <th>Date Added</th>
                <th>Last Modify</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(function (article) { 
                sections.forEach(function (section) { 
                if (section._id == article.SectionId)
                    displaySection = section.Section;
                });
            %>
            <tr>
                <td><%=article.Title %></td>
                <td><%=article.Status %></td>
                <td><%=displaySection %></td>
                <td><%=article.DateAdded %></td>
                <td><%=article.DateModified %></td>
                <td><%=article.User %></td>
                <td>
                    <a href="/editArticle/<%=article._id%>">Edit</a>&nbsp;&nbsp;
                    <a href="/deleteArticle/<%=article._id%>">Delete</a>&nbsp;&nbsp;
                    <% if(article.Status != 'POSTED' ) { %>
                        <a href="/postArticle/<%=article._id%>">Post</a>
                    <% } else { %>
                        <a href="/unpostArticle/<%=article._id%>">Unpost</a>
                    <% } %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</article>
<div id="newArticle"><button><a href="/newArticle">Add new Article</a></button></div><br/>
<div id="newArticle"><button><a href="/changeName">Edit System Name</a></button></div>
<script>
    $('#articlesTable').DataTable();
</script>
<%-include('_layouts/footer.ejs')%>