<%-include('_layouts/header.ejs')%>
<% if (articles.length != 0){
    articles.forEach(function (article) { 
    var dateAdded = article.dateAdded;
    var DateModified = article.DateModified; 
    sections.forEach(function (section) { 
        if (section._id == article.SectionId)
            displaySection = section.Section;
    });
    %>
    <article> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
        <table class="noBorder" >
            <tr>
                <td class="imgCell"><img src="/articleImages/<%=article.ImageName%>" width="100%" height="100%" class="imgIndex"></td>
                <td class="titleCell">
                    <h4><a href="zoom/<%=article._id%>" class="hrefIndex"><%=article.Title%></a></h4><br/><br/>
                    <div class="sectionIndex"><%=displaySection%></div>
                </td>
            </tr>
        </table>
    </article>
    <% });
}
else { %>
    <article> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
        <h1>There is nothing to show right now on this section</h1>
    </article>
<% } %>
<%-include('_layouts/footer.ejs')%>