<%- include('_layouts/header') -%>
<%
    var message = '';
    if (typeof Message !== 'undefined')
        message = Message;

%>
<article>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <div class="form-field">
            <label for="username">Username:</label>
            <input type="text" class="form-input" name="username">
        </div>
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" class="form-input" name="password">
        </div>
        <div class="form-field center">
            <input type="submit" class="form-submit" value="Submit">
        </div>
        <div class="error">
            <%=message%>
        </div>
    </form>
</article>
<%- include('_layouts/footer') -%>