<%-include('_layouts/header.ejs') %>
<%
    var vTitle = '';
    var vSectionId = '';
    var vContent = '';
    var vStatus = '';
    var vId = '';

    if (typeof title !== 'undefined')
        vTitle = title;

    if (typeof sectionId !== 'undefined')
        vSectionId = sectionId;

    if (typeof content !== 'undefined')
        vContent = content;

    if (typeof status !== 'undefined')
        vStatus = status;

    if (typeof id !== 'undefined')
        vId = id;

    if (typeof errors !== 'undefined')
    { %>
        <script>
        $(document).ready(function() {
            <% for(var error of errors){ %>
                $("#error<%= error.param %>").text("<%= error.msg %>");
            <% } %>
        });
        </script> <%
    } 
%>
<div id="formInput" class="formData">
    <article>
        <% if (vStatus == 'NEW') { %>
            <form name="newForm" method="POST" enctype="multipart/form-data" action = "/newArticle">
        <% } else { %>
            <form name="newForm" method="POST" enctype="multipart/form-data" action = "/editArticle/<%=vId%>">
        <% } %>
            <h4>Please fill the details about the article</h4><br/>
            <label>Title</label>
            <input id="title" placeholder="Enter title here" type="text" name="title" value="<%= vTitle %>">
            <label id="errortitle" class="error"></label><br/>
            <label>Section</label>
            <select id="sectionId" name="sectionId">
                <option value="">:: Please Select ::</option>
                <% sections.forEach(function (section) { 
                    var selected = '';
                    if (section._id == vSectionId) {
                        selected = 'selected';
                    }
                    %>
                        <option value="<%=section._id%>" <%=selected%>><%=section.Section%></option>
                    <% 
                }); %>
            </select>
            <label id="errorsectionId" class="error"></label><br/>
            <label>Content</label>
            <textarea name="content" id="content" class="ck-content"><%= vContent %></textarea>
            <label id="errorcontent" class="error"></label><br/>
            <label>Image</label>
            <input id="image" type="file" name="image">
            <input id="id" type="hidden" name="id" value="<%=vId%>">
            <input id="status" type="hidden" name="status" value="<%=vStatus%>">
            <label id="errorimage" class="error"></label><br/<br/>
            <div class="center"><input type="submit" value="Save"></div>
        </form>
        <div class="center"><button class="cancel" onclick="backButton('/Admin')">Back</button></div>
    </article>
</div>

<%-include('_layouts/footer.ejs')%>
<script>
    ClassicEditor
        .create( document.querySelector('#content'))
        .catch( error => {
            console.error( error );
        } );
</script>