<%-include('_layouts/header.ejs')%>
<%
    var systemName = '';
    if (typeof SystemName !== 'undefined'){
        systemName = SystemName;
    }
%>
<div id="formInput" class="formData">
    <article>
        <form name="newForm" method="POST" enctype="multipart/form-data" action = "/changeName">
            <label>System Name</label>
            <input id="systemName" placeholder="Enter name here" type="text" name="systemName" maxlength="10" value="<%=systemName%>">
            <label id="systemName" class="error"></label><br/>
            <div class="center"><input type="submit" value="Save"></div>
        </form>
        <div class="center"><button class="cancel" onclick="backButton('/Admin')">Back</button></div>
    </article>
</div>
<%-include('_layouts/footer.ejs')%>