<%-include('_layouts/header.ejs')%>
<% if (articles.length != 0){
    articles.forEach(function (article) { 
    var dateAdded = article.dateAdded;
    var DateModified = article.DateModified; 
    sections.forEach(function (section) { 
        if (section._id == article.SectionId)
            displaySection = section.Section;
    });
    %>
    <article> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
        <h2><%=article.Title%><span class="right"><%=displaySection%></span></h2>
        <div class="line"></div>
        <div class="articleBody clear">
            <figure> <!-- The figure tag marks data (usually an image) that is part of the article -->
                <img src="/articleImages/<%=article.ImageName%>" width="500" height="300">
            </figure>
            <%-article.Content -%>
        </div>
        <div class="line"></div>
        <div>Date Added: <%=article.DateAdded%>, last modified: <%=article.DateModified%> by <%=article.User%> </div>
    </article>
    <% });
}
else { %>
    <article> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
        <h1>There is nothing to show right now on this section</h1>
    </article>
<% } %>
<%-include('_layouts/footer.ejs')%>